<h1>Your Favourites</h1>

<%@favourites.each do|fav|  %>

<div>        <img src="<%= fav.img_url %>" style="width:30%">
  </div><br>
  <div><strong><%= fav.image_name %></strong>
    Total Likes:
    <%= Like.where(:image_name =>fav.image_name, :img_url=>fav.img_url ).count %>
  </div>

<% end %>