<!DOCTYPE html>
<html>
<title>
  Shingle Lines
</title>
<body>
<header>
  <h1>
    Images
  </h1>
</header>
<main>

  <div class="slideshow-container">

    <%= select_tag :odr_err_select, options_for_select(@options) %>
    <br/><br/>
    <% @array.each do |foo| %>
      <div class="mySlides fade">
        <!--        <div class="numbertext"><%#= @array.count %> Images</div>-->
        <img src="<%= foo %>" style="width:100%">
      </div>
    <% end %>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>

  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  <div class="slideshow-container">

    <div class="row">
      <% @array.each do |foo| %>
        <div class="column">
          <img src="<%= foo %>" style="width:100%">
        </div>
      <% end %>
    </div>
  </div>


</main>
<footer>

</footer>
</body>
</html>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>


