<%# This is home page where we can see the images %>
<!DOCTYPE html>
<html>
<title>
  Shingle Lines
</title>
<body>
<header>
  <h1>
    Shingle Lines
  </h1>
</header>
<main>
  <div class="slideshow-container">
    <%= select_tag :parent_image, "<option value=''>Select Value</option>".html_safe + options_for_select(@options), :onchange => "selectImage(this)" %>
    <br/><br/>
    <div id="imgSlider">
      <% @json_response.each do |foo| %>
        <div class="mySlides fade">
          <img src="<%= foo['hero_1600x565_url'] %>" style="width:100%">
        </div>
      <% end %>
    </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>

  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  <div class="slideshow-container">

    <div class="row">
      <% @json_response.each do |foo| %>
        <div class="column">
          <img src="<%= foo['hero_1600x565_url'] %>" style="width:100%">
          <small><%= foo['name'] %></small>

        </div>
      <% end %>
    </div>
  </div>


</main>
<footer>

</footer>
</body>
</html>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    // This method is  jquery slider method which is included with iteration it will adjust as per count and have the provision to move the slide.
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
      if((slideIndex-1) <3){ //To prevent the exception in case the images are more than 3
        dots[slideIndex - 1].className += " active";
      }
    }
  // This method is for showing images on slider and making AJAX call to get urls and names response from controller
    function selectImage() {
        var select = $("#parent_image").val();
        var imgSlider = "";
        var imgSliderBottom ="";
        $.ajax({
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "/images/child_images",
            data: {select_value: select},
            type: "POST",
            success: function (data) {
                data: {
                    // result: json.response
                }
                // Where we get image urls and pass it to element
                console.log(data.urls);
                for(i=0; i < data.urls.length; i++){
                    // console.log(i, " : ", data.urls[i]);
                    imgSlider += '<div class="mySlides fade"><img src="'+data.urls[i]+'" style="width:100%"><div style="margin-top: -40px; margin-left: 40px; font-size: 20px; background-color: black; color: white;">'+data.options[i]+'</div></div>';
                    imgSliderBottom += '<div class="column"> <img src="'+data.urls[i]+'" style="width:100%"><div style="margin-top: -40px; margin-left: 40px; font-size: 20px; background-color: black; color: white;">'+data.options[i]+'</div></div>';
                }
                console.log(imgSlider);
                $("#imgSlider").html(imgSlider);
                $(".row").html(imgSliderBottom);
                plusSlides(1);
            }
        });
    }

</script>


